In [34]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import KNNImputer
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

headernames = ["Surgery?","Age","HospitalNo","RectalTemp","Pulse","RespiratoryRate","ExtremitiesTemp","PeripheralPulse","MucousMembranes","CapillaryRefillTime","PainLevel","Peristalsis","AbdominalDistension","NasogastricTube","NasogastricReflux","NasogastricRefluxPH","Feces","Abdomen","PackedCellVolume","TotalProtein","AbdominocentesisAppearance","AbdominocentesisTotalProtein","Outcome","SurgicalLesion","LesionTypeOne","LesionTypeTwo","LesionTypeThree","CPData"]

print(len(headernames))

horsedataoriginal = pd.read_csv("horse-colic.data",sep=" ",index_col=False,names=headernames).replace('?', np.NaN) #change the data file path, also replace ? with NaN for easier process
# display(HTML(horsedataoriginal.to_html())) #To display all data
horsedataoriginal

28

,Surgery?,Age,HospitalNo,RectalTemp,Pulse,RespiratoryRate,ExtremitiesTemp,PeripheralPulse,MucousMembranes,CapillaryRefillTime,...,PackedCellVolume,TotalProtein,AbdominocentesisAppearance,AbdominocentesisTotalProtein,Outcome,SurgicalLesion,LesionTypeOne,LesionTypeTwo,LesionTypeThree,CPData
0,2,1,530101,38.50,66,28,3,3,NaN,2,...,45.00,8.40,NaN,NaN,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,NaN,NaN,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,NaN,NaN,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,NaN,NaN,6,2,...,74.00,7.40,NaN,NaN,2,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,533886,NaN,120,70,4,NaN,4,2,...,55,65,NaN,NaN,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,NaN,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,NaN,NaN,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,NaN,NaN,NaN,NaN,...,36,62,1,1,3,2,6112,0,0,2

In [35]:
horsedata = horsedataoriginal.drop(columns=["HospitalNo","LesionTypeTwo","LesionTypeThree"]) #Remove factors not related to prediction
horsedata

,Surgery?,Age,RectalTemp,Pulse,RespiratoryRate,ExtremitiesTemp,PeripheralPulse,MucousMembranes,CapillaryRefillTime,PainLevel,...,Feces,Abdomen,PackedCellVolume,TotalProtein,AbdominocentesisAppearance,AbdominocentesisTotalProtein,Outcome,SurgicalLesion,LesionTypeOne,CPData
0,2,1,38.50,66,28,3,3,NaN,2,5,...,3,5,45.00,8.40,NaN,NaN,2,2,11300,2
1,1,1,39.2,88,20,NaN,NaN,4,1,3,...,4,2,50,85,2,2,3,2,2208,2
2,2,1,38.30,40,24,1,1,3,1,3,...,1,1,33.00,6.70,NaN,NaN,1,2,0,1
3,1,9,39.10,164,84,4,1,6,2,2,...,3,NaN,48.00,7.20,3,5.30,2,1,2208,1
4,2,1,37.30,104,35,NaN,NaN,6,2,NaN,...,NaN,NaN,74.00,7.40,NaN,NaN,2,2,4300,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,1,NaN,120,70,4,NaN,4,2,2,...,NaN,5,55,65,NaN,NaN,3,2,3205,2
296,2,1,37.20,72,24,3,2,4,2,4,...,4,4,44.00,NaN,3,3.30,3,1,2208,1
297,1,1,37.50,72,30,4,3,4,1,4,...,3,5,60.00,6.80,NaN,NaN,2,1,3205,2
298,1,1,36.50,100,24,3,3,3,1,3,...,4,4,50.00,6.00,3,3.40,1,1,2208,1
299,1,1,37.2,40,20,NaN,NaN,NaN,NaN,NaN,...,4,1,36,62,1,1,3,2,6112,2